body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:#262626;
    height:100%
}

html {
    height: 100%;
}
p {
    color:white;
    font-size: 45px;
    font-family:"Segoe UI",serif
}
#bold {
    font-weight: bolder
}
h1 {
    font-size:1.2cm;
    color:white;
}

h2 {
    font-size:1cm
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:white
}

.p-2.text-center {
    width: 100%;
    height: 3cm;
    border-radius: 40px;
    max-width: 13cm;
    background: white;
    transition: background-color .5s ease-out 10ms, width .5s ease-out 10ms, height .5s ease-out 10ms, margin-bottom .5s ease-out 10ms, margin-left .5s ease-out 10ms, margin-top .5s ease-out 10ms
}

.p-2.text-center:hover {
    background: #424242;
    width: 11.5cm;
    height: 4cm;
    margin-left: -.25cm;
    margin-top: -.5cm;
    margin-bottom: -.5cm;
}

.p-2.text-center > p , a>p{
    font-size:60px;
    color:black;
    font-weight: 99999;
    transition: color .5s ease-out 10ms, font-size .5s ease-out 10ms;
}

.p-2.text-center:hover > p, .p-2.text-center:hover >a> p{
    color:white;
    font-size: 85px;
}

#maindiv {
    background-color:white;
    width: 11cm;
    height: 5cm;
    border-radius: 40px;
}

#maindiv > .col > object {
    margin-top: .75cm;
    height:3.5cm;
    transition: margin-left .5s ease-out 10ms, height .5s ease-out 10ms, margin-top .5s ease-out 10ms;
}

#maindiv:hover > .col > object{
    margin-left: 20%;
    height:5cm;
    margin-top: 0;
}

#maindiv > .col > h2 {
    margin-top: 1.8cm;
    opacity: 100;
    transition: opacity .5s ease-out 10ms
}

#maindiv:hover > .col > h2{
    opacity: 0
}

#Homeid {
    min-height:100vh
}

#Location {
    min-height:70vh
}

#home, #loc {
    margin-right:1cm;
    cursor: pointer;
    transition: margin-top .5s ease-out 10ms
}

#home:hover, #loc:hover{
    margin-top:10px;
}

#header {
    background-color: #424242;
    height: 2cm;
    border: black solid;
    border-width: 1px 0;
    position: fixed;
    top: 0;
    right: 0;
    width:100%
}

#footer {
    background-color: #424242;
    height: 2cm;
    border: black solid;
    border-width: 1px 0;
    position: fixed;
    width:80%;
    margin-bottom: .5cm;
    border-radius: 40px;
    bottom: -110px;
    transition: bottom 0.5s ease-in-out;
}

#footer > p {
    margin-left: 30px;
    display:inline;
    margin-top:-5cm
}

#footer > object {
    margin-top: .25cm;
    height:1.5cm;
    margin-left: 40vw;
}